{% extends 'base.html' %}
{% block title %}
{% endblock title %}
{% block body %}
<div class="container">
    <h2>Add a Todo</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="tt">

        </div>
        <div class="mb-3">
            <label for="des" class="form-label">Todo description</label>
            <input type="text" class="form-control" name="desc" id="desc">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="container my-3">
    <h2>Your Todo</h2>

    {% if allTodo|length==0 %}

    <div class="alert alert-danger" role="alert">
        No Todo Found Add a Todo!
    </div>

    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">sno</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td><a href="/delete/{{todo.sno}}" type="button" class="btn btn-danger" mx-1>Delete</a>
                    <a href="/Update/{{todo.sno}}" type="button" class="btn btn-success" mx-1>Update</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
{% endblock body %}